/* *{
    margin: 0;
    padding: 0;
    border: 0;
} */
body{
    background-color: white;
}
ul{
    margin-bottom: 0;
    padding-left: 1rem;
}
.myNav{
    background-color: black !important;
}
.navbar-fixed-top{
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.about, .proyects {
    background-color: #222;
    height: 50em;
}
.skills, .contact{
    background-color: white;
    height: 50em;
}
.about{
    margin-top: 3.5em;
}
.terminal, .fileManager, .browser, .VSC{
    color: white;
    /* width: 94em;
    height: 40em; */
    margin: auto;
    margin-top: 4em;
    border-radius: 0.5em;
}

.terminal, .browser{
    background-color: #191924;
    box-shadow: 0px 0px 9px 3px rgba(255,255,255,0.53);
    -webkit-box-shadow: 0px 0px 9px 3px rgba(255,255,255,0.53);
    -moz-box-shadow: 0px 0px 9px 3px rgba(255,255,255,0.53);
}
.fileManager, .VSC{
    background-color: #191924;
    box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.53);
}

.barTerminal{
    height: 2em;
    background-color: #191924;
    border-radius: 10px 10px 0 0;
    text-align: center;
}
.barTerminal > img {
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin: 0.3em 0 0 0.5em;
}
.botonTerminal{
    float: right;
}
.botonTerminal > div{
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: inline-block;
    margin: 0.5em 0.5em 0em 0em;
}
.botonTerminal > div:first-child{
    background-color: yellow;
}
.botonTerminal > div:nth-child(2n){
    background-color: green;
}
.botonTerminal > div:last-child{
    background-color: red;
}
.cuerpoTerminal{
    margin: 1em;
    color: #00e7ff;
}
.comandoTerminal{
    margin-bottom: 1em;
}
.comandoTerminal > span, .info{
    color: white;
}
.avatar{
    display: inline-block;
    width: 30%;
}
.avatar > img {
    height: 20em;
}
.perfil{
    display: inline-block;
    width: 69%;
    font-size: 1.3em;
}
.name{
    border-bottom: 2px dotted white;
    display: inline-block;
}
.menuFileManager > ul, .menuVSC > ul{
    list-style: none;
}
.menuFileManager > ul >li, .menuVSC > ul > li{
    display: inline-block;
    margin: 0 0.5em;
}
.exploradorFileManager{
    height: 34em;
}
.ICONexploradorFileManager{
    display: inline-block;
    padding-left: 1em;
}
.ICONexploradorFileManager > svg{
    margin: 0em 0.5em;
}
.BARexploradorFileManager{
    display: inline-block;
    margin-left: 1em;
    border: 1px solid black;
    border-radius: 0.2em;
    background-color: #2b2b2b;
    /* width: 82em; */
    /* width: 85%; */
    padding: 0em 0.5em;
    vertical-align: middle;
}
.BARexploradorFileManager > svg{
    color: #3131ff;
    margin-right: 0.2em;
}
.navBarFileManager{
    display: inline-block;
    width: 20%;
    height: 100%;
    background-color: #2b2b2b;
    margin-left: 1em;
    border-right: 1px solid black;
    margin-top: 0.5em;
}
.navBarFileManager > ul > li{
    margin-top: 1em;
}
.navBarFileManager > ul{
    padding-top: 0.1em;
}
.contentFileManager{
    background-color: #2b2b2b;
    height: 100%;
    width: 77%;
    float: right;
    margin-right: 1em;
    margin-top: 0.5em;
    border-left: 1px solid black;
}
.contentFileManager > ul> li > a > img{
    width: 4em;
    display: block;
    margin: 2.5em;
    margin-top: 2em;
}
.contentFileManager > ul> li {
    display: inline-block;
}
.pestañaBrowser > ul > li{
    display: inline-block;
    background-color: #646464;
    padding-left: 0.5em;
    border-top: 0.15em solid #3434ff;
}
.pestañaBrowser > ul > li > svg{
    width: 1.5em;
    height: 1.5em;
    transform: rotate(45deg);
}
.navegadorBrowser, .favoritosBrowser{
    background-color: #646464;
    margin: 0 1em 0 1em;
    height: 2em;
    padding-top: 0.2em;
}
.botonesBrowser > svg {
    margin: 0em 0.5em 0em 0.5em;
}
.botonesBrowser{
    display: inline-block;
}
.enlaceBrowser{
    display: inline-block;
    background-color: #2b2b2b;
    width: 80%;
    border: 0.1em solid black;
    border-radius: 0.3em;
    padding: 0 1em 0 1em;
}
.enlaceBrowser > a{
    list-style: none;
    display: block;
}
.favoritosBrowser > ul {
    padding-left: 0.5em;
}
.favoritosBrowser > ul > li{
    display: inline-block;
    margin-right: 0.5em;
}
.favoritosBrowser > ul > li > a,
ul > li{
    list-style: none;
}
.bodyBrowser{
    background-color: white;
    height: 32em;
    margin: 0 1em;
}
.bodyBrowser > img {
    width: 100%;
    height: 100%;
}
.barVSC,
.barFileManager,
.barBrowser,
.contentFileManager > ul> li{
    text-align: center;
}
.barVSC > img{
    width: 1.2em;
    float: left;
    margin: 0.5em 0 0 0.5em;
}
.cuerpoVSC{
    text-align: center;
    vertical-align: middle;
    padding-top: 4.5em;
    font-size: 2em;
}
.cuerpoVSC > p > a,
.contentFileManager > ul> li > a,
.enlaceBrowser > a,
.favoritosBrowser > ul > li > a {
    color: white;
    text-decoration: none;
}
.cuerpoVSC > p > a > svg{
    font-size: 2em;
    width: 0.5em;
    height: 0.5em;
}
.contact1{
    display: inline;
}
.contact2{
    display: none;
}

@media (min-width: 1599.98px) {
    .terminal, .fileManager, .browser, .VSC{
        width: 94em;
        height: 40em;
    }
    .BARexploradorFileManager{
        width: 87.2%;
    }
}

@media (min-width: 1399.98px) and (max-width: 1599.98px) {
    .terminal, .fileManager, .browser, .VSC{
        width: 80em;
        height: 40em;
    }
    .BARexploradorFileManager{
        width: 85%;
    }
}

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
    .terminal, .fileManager, .browser, .VSC{
        width: 70em;
        height: 41.5em;
    }
    .BARexploradorFileManager{
        width: 97.3%;
    }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
    .terminal, .fileManager, .browser, .VSC{
        width: 60em;
        height: 40.2em;
    }
    .comandoTerminal {
        margin-bottom: 5em;
    }
    .avatar{
        width: 40%;
        margin-bottom: 2em;
    }
    .avatar > img{
        height: 20em;
    }
    .perfil{
        width: 60%;
        font-size: 1.6em;
        float: right;
    }
    .BARexploradorFileManager{
        width: 80%;
    }
    .contentFileManager{
        width: 76%;
    }
    .contentFileManager > ul> li > a > img{
        width: 3em;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .terminal, .fileManager, .browser, .VSC{
        width: 46em;
        height: 41.5em;
    }
    .avatar{
        width: 100%;
        margin-bottom: 2em;
    }
    .avatar > img{
        height: 15em;
    }
    .perfil{
        width: 100%;
        font-size: 1.6em;
    }
    .BARexploradorFileManager{
        width: 74%;
    }
    .contentFileManager{
        width: 75%;
    }
    .contentFileManager > ul> li > a > img{
        width: 2em;
    }
    .cuerpoVSC{
        font-size: 2em;
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .terminal, .fileManager, .browser, .VSC{
        width: 37em;
        height: 40em;
    }
    .avatar{
        width: 100%;
        margin-bottom: 2em;
    }
    .avatar > img{
        height: 10em;
    }
    .perfil{
        width: 100%;
        font-size: 1.6em;
    }
    .navBarFileManager{
        width: 23%;
        font-size: 0.7em;
    }
    .BARexploradorFileManager{
        width: 70%;
        margin-left: 0;
    }
    .contentFileManager{
        width: 70%;
    }
    .contentFileManager > ul> li > a > img{
        width: 3em;
        margin: 1.5em;
    }
    .cuerpoVSC{
        font-size: 2em;
    }
}

@media (min-width: 425px) and (max-width: 576px) {
    .avatar{
        width: 100%;
        text-align: center;
    }
    .avatar > img {
        height: 13em;
    }
    .perfil{
        width: 100%;
        font-size: 1.2em
    }
    .terminal {
        width: 22em;
        height: 40em;
    }
    .fileManager{
        width: 22em;
        height: 42em;
    }
    .browser, .VSC{
        width: 22em;
        height: 18em;
    }
    .navBarFileManager{
        display: none;
        /* width: 23%;
        font-size: 0.7em;
        padding-left: 0.5em; */
    }
    .BARexploradorFileManager{
        width: 64%;
        margin-left: 0;
    }
    .contentFileManager{
        /* width: 70%; */
        width: 90%;
        height: auto;
        margin-left: 1em;
        float: none;
    }
    .contentFileManager > ul> li > a > img{
        width: 2em;
        margin: 1.5em;
    }
    .ICONexploradorFileManager > svg{
        margin: 0em 0.1em;
    }
    .BARexploradorFileManager > svg{
        display: none;
    }
    .cuerpoVSC{
        font-size: 1em;
        padding-top: 1.5em;
    }
    .contact1{
        display: none;
    }
    .contact2{
        display: inline;
        text-align: left;
        margin-left: 1em;
    }
    .enlaceBrowser{
        width: 65%;
    }
    .bodyBrowser{
        height: auto;
    }
    .bodyBrowser > img{
        height: auto;
    }
}
@media (min-width: 375px) and (max-width: 424px) {
    .avatar{
        width: 100%;
        text-align: center;
    }
    .avatar > img {
        height: 13em;
    }
    .perfil{
        width: 100%;
        font-size: 1.2em
    }
    .terminal {
        width: 22em;
        height: 40em;
    }
    .fileManager{
        width: 22em;
        height: 31em;
    }
    .browser, .VSC{
        width: 22em;
        height: 18em;
    }
    .navBarFileManager{
        display: none;
        /* width: 27%;
        font-size: 0.7em;
        padding-left: 0.5em; */
    }
    .navBarFileManager > ul {
        padding-left: 0;
    }
    .BARexploradorFileManager{
        width: 64%;
        margin-left: 0;
        font-size: 0.88em;
    }
    .contentFileManager{
        width: 90%;
        height: auto;
        margin-left: 1em;
        float: none;
    }
    .contentFileManager > ul> li > a > img{
        width: 1.5em;
        margin: 1.5em 1em;
    }
    .ICONexploradorFileManager > svg{
        margin: 0em 0.1em;
    }
    .cuerpoVSC{
        font-size: 1em;
        padding-top: 1.5em;
    }
    .menuFileManager > ul >li{
        margin: 0 0.4em;
    }
    .BARexploradorFileManager > svg{
        display: none;
    }
    .contact1{
        display: none;
    }
    .contact2{
        display: inline-block;
        /* float: left; */
        text-align: left;
        margin-left: 1em;
    }
    .enlaceBrowser{
        width: 60%;
    }
    .bodyBrowser{
        height: auto;
    }
    .bodyBrowser > img{
        height: auto;
    }
}

@media (max-width: 374px) {
    .terminal, .fileManager, .browser, .VSC{
        width: 21em;
        height: 40em;
    }
    .navBarFileManager{
        width: 27%;
        font-size: 0.7em;
        padding-left: 0.5em;
    }
    .navBarFileManager > ul {
        padding-left: 0;
    }
    .BARexploradorFileManager{
        width: 64%;
        margin-left: 0;
        font-size: 0.88em;
    }
    .contentFileManager{
        width: 65%;
    }
    .contentFileManager > ul> li > a > img{
        width: 1.5em;
        margin: 1.3em;
    }
    .contentFileManager > ul> li > a > span{
        display: none;
    }
    .ICONexploradorFileManager > svg{
        margin: 0em 0.1em;
    }
    .cuerpoVSC{
        font-size: 1em;
    }
    .menuFileManager > ul >li{
        margin: 0 0.4em;
    }
    .contact1{
        display: none;
    }
    .contact2{
        display: inline;
        /* float: left; */
        text-align: left;
        margin-left: 1em;
    }
    .enlaceBrowser{
        width: 60%;
    }
}