---
import Layout from "@layouts/Layout.astro";
---
<Layout title="404 - Page not found">
  <div class="flex flex-col items-center justify-center h-screen">
    <h1 class="text-white text-4xl font-bold">404</h1>
    <p class="text-white text-xl">Page not found</p>
    <a href="/" class="text-white hover:text-orange-500">Go back home</a>
  </div>
</Layout>