---
// Componente Badge Skills
import { Image } from "astro:assets";
const { skill } = Astro.props;
---
<li>
  <Image
    width={48}
    height={48}
    loading="lazy"
    quality={80}
    format="webp"
    src={skill.img}
    alt={skill.text}
    class="h-10 md:h-12 rounded-sm"
  />
</li>
