---
// Componente Badge Skills
import { Image } from "astro:assets";
const { skill } = Astro.props;
---
<li>
  <Image inferSize src={skill.img} alt={skill.text} class="h-10 md:h-12 rounded-sm" />
</li>
