---
// Componente Badge Skills
import { Image } from "astro:assets";
const { skill } = Astro.props;
---
<li>
  <Image inferSize src={skill.img} alt={skill.text} class="h-5 md:h-7 rounded-sm" />
</li>
