---
import { getLangFromUrl } from '@i18n/utils';
import { langLocales } from '@utils/const';

const lang = getLangFromUrl(Astro.url);
function getUrl(newLang: string) {
  return Astro.url.href.replace(lang, newLang);
}
function langActive(l: string) {
  return l === lang ? 'text-orange-500' : 'text-white';
}
---
<div class="fixed bottom-2 right-2">
	<ul class="flex flex-col md:flex-row items-center justify-center border-2 border-gray-800 rounded-md overflow-hidden">
		{
			langLocales.map((lang, index) => {
				const bR = index === 0 ? 'border-b-2 md:border-b-0 md:border-r-2 border-gray-800' : '';
				return (
					<li class:list={["hover:bg-orange-500 hover:text-white bg-zinc-900 transition-colors duration-300",bR, langActive(lang)]}>
						<a href={getUrl(lang)} class="p-2" rel="noopener noreferrer" >{lang}</a>
					</li>
				)
			})
		}
	</ul>
</div>