---
// Componente tarjeta de educación
import ExperienceLayout from "@layouts/ExperienceLayout.astro";

const { education, classes="" } = Astro.props;
---
<ExperienceLayout data={education} classes={classes}>
  {
    education.description.map((description:string) => (<li class="text-sm text-gray-400">{description}</li>))
  }
</ExperienceLayout>