---
// Componente tarjeta de experiencia
import ExperienceLayout from "../layouts/ExperienceLayout.astro";

const { experience, classes="" } = Astro.props;
---
<ExperienceLayout data={experience} classes={classes}>
  {
    experience.description.map((description:string) => (<li class="text-sm text-gray-500">{description}</li>))
  }
</ExperienceLayout>