---
// Componente para los iconos de los proyectos
interface link {
  alt: string;
  link: any;
  src: ImageMetadata;
}
interface Props{
  links:link[],
  loading?: "eager" | "lazy";
}
import Icon from "./Icon.astro";

const {links, loading="lazy"} = Astro.props;
---
{
  links.map(({alt,link, src}) => {
    if(link !== ""){
      return(
        <a href={link} target={alt !== "Detail" ? "_blank" : "_parent"} class="text-white hover:text-orange-500">
          <Icon src={src} alt={alt} loading={loading}/>
        </a>
      )
    }
  })
}