---
// Componente de la sección de experiencia
import ContentTitleLayout from '@layouts/ContentTitleLayout.astro';
import ContentLayout from '@layouts/ContentLayout.astro';
import TitleSubSection from '@components/TitleSubSection.astro';
import ExperienceCard from '@components/ExperienceCard.astro';
import EducationCard from '@components/EducationCard.astro';
import TitleSection from '@components/TitleSection.astro';
import Badge from '@components/Badge.astro';

import skills from '@data/skills.json';
import experience from '@data/experience.json';
import otherExperience from '@data/otherExperience.json';
import education from '@data/education.json';
---
<ContentLayout id="experience">
  <ContentTitleLayout>
    <TitleSection title="Experience" colorTitle="text-blue-700" />
  </ContentTitleLayout>
  <div id="skills" class="mt-4">
    <TitleSubSection title="Skills" />
    <ul class="flex flex-wrap justify-center gap-4 mt-4">
      {
        skills.map((skill) => ( <Badge skill={skill} /> ))
      }
    </ul>
  </div>

  <div id="workExperience" class="mt-12">
    <TitleSubSection title="Work Experience" />
    <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 mt-4 px-4">
      {
        experience.map((experience) => ( <ExperienceCard experience={experience}/> ))
      }
    </ul>
  </div>

  <div id ="otherExperience" class="mt-12">
    <TitleSubSection title="Other Experience" />
    <ul class="grid md:grid-cols-2 lg:grid-cols-4 gap-8 mt-4 px-4">
      {
        otherExperience.map((otherexperience) => ( <ExperienceCard experience={otherexperience} classes="lg:col-span-2"/> ))
      }
    </ul>
  </div>

  <div id="education" class="mt-12">
    <TitleSubSection title="Education" />
    <ul class="grid md:grid-cols-2 lg:grid-cols-4 gap-8 mt-4 px-4">
      {
        education.map((e) => ( <EducationCard education={e} classes="lg:col-span-2"/> ))
      }
    </ul>
  </div>

</ContentLayout>