---
// Componente de la sección de inicio
import { Image } from 'astro:assets';
import ContentTitleLayout from '../layouts/ContentTitleLayout.astro';
import ContentLayout from '../layouts/ContentLayout.astro';
import TitleSection from './TitleSection.astro';
import Icon from './Icon.astro';

import Profile from '../assets/img/profile2.png';
import Linkedin from '../assets/icons/brand-linkedin.svg';
import Github from '../assets/icons/brand-github.svg';
import PDF from '../assets/icons/file-type-pdf.svg';
import FM from '../assets/icons/frontend-mentor.svg';
import CW from '../assets/icons/code-wars.svg';

const link = [
  {alt:"Github", src:Github, link:"https://github.com/Marco90v"},
  {alt:"Linkedin", src:Linkedin, link:"https://www.linkedin.com/in/marco90v/"},
  {alt:"PDF", src:PDF, link:"https://flowcv.com/resume/6gnga9oa1r"},
  {alt:"FM", src:FM, link:"https://www.frontendmentor.io/profile/marco90v"},
  {alt:"CW", src:CW, link:"https://www.codewars.com/users/mvf90"}
]
---
<div class="min-h-screen flex">
  <ContentLayout id="home" class="max-w-[1000px] md:mt-auto">
    <ContentTitleLayout>
        <TitleSection title="Profile" colorTitle="text-red-700"/>
    </ContentTitleLayout>
    <h1 class="text-center text-white text-4xl font-bold">Marco Velasquez Figarella</h1>
    <div id="contentProfile" class="grid  md:grid-cols-3 gap-4 mt-4">
      <h2 class="md:col-span-2 text-orange-500 text-2xl font-bold">Frontend Developer</h2>
      <p class="md:col-span-2 text-lg">
        I am a Frontend Developer with more than 3 years of experience in creating efficient, intuitive and performance optimized web interfaces.
        My focus is to deliver quality user-centric solutions, ensuring a smooth, accessible and visually appealing experience.
        I work with technologies such as <span class="bg-zinc-700 text-orange-400 px-2 rounded">React, TypeScript, JavaScript and CSS</span>, along with tools such as <span class="bg-zinc-700 text-orange-400 px-2 rounded">Zustand, Tailwind CSS and Bootstrap.</span>
      </p>
      <p class="md:col-span-2 text-lg">
        I have participated in a variety of projects, from administrative systems to landing pages and interactive applications, always prioritizing accessibility and cross-browser compatibility.
      </p>
      <p class="md:col-span-2 text-lg">
        With knowledge in backend like <span class="bg-zinc-700 text-orange-400 px-2 rounded">Node.js, Express and databases like MySQL and MongoDB</span>, I ensure a smooth integration between frontend and backend to create robust and scalable applications.
      </p>
      <Image
        width={313}
        height={313}
        loading="eager"
        quality={50}
        format="webp"
        src={Profile}
        alt="Profile"
        class="w-full rounded-md row-start-1 max-w-60 sm:max-w-60 md:max-w-80 md:row-start-1 md:col-start-3 md:row-span-3 m-auto drop-shadow-[0_0_5px_rgba(227,227,227,0.2)] mask-gradient"
      />
      <div id="links" class="md:col-start-3 md:row-start-4 text-center flex justify-center items-center gap-x-4">
        {
          link.map(({alt,link, src}) => (
            <a href={link} target={alt !== "Detail" ? "_blank" : "_parent"} rel="noopener noreferrer" class="text-white hover:text-orange-400">
              <Icon src={src} alt={alt} loading="eager" />
            </a>
          ))
        }
      </div>
    </div>
  </ContentLayout>
</div>