---
// Componente de la sección de retos
interface Props {
  all?: "no" | "yes";
}

import ContentCardLayout from '../layouts/ContentCardLayout.astro';
import ContentLayout from '../layouts/ContentLayout.astro';
import TitleSection from './TitleSection.astro';
import ProjectCard from './ProjectCard.astro';
import ViewMore from './ViewMore.astro';
import { URLChallenges } from '../utils/const';
// import data from '../data/challenge.json';
const data:project[] = await fetch(URLChallenges).then(response => response.json());
const { all="no" } = Astro.props;
const newData = all === "no" ? data.slice(0, 6) : data;
---
<ContentLayout id="challenges">
  <div class="absolute top-[-0.8rem] left-0 w-full text-center text-white text-sm font-bold">
    <TitleSection title="Challenge" colorTitle="text-orange-700" />
  </div>
  <ContentCardLayout>
    {
      newData.map((project, index) => ( <ProjectCard project={project} id={index} path="challenges" /> ))
    }
  </ContentCardLayout>
  {all==="no" && <ViewMore  href="/challenges"/>}
</ContentLayout>