---
interface Props {
  title: string;
  colorTitle?: string;
}
const {title, colorTitle="text-orange-500"} = Astro.props;
---
<h3 class={`border border-zinc-700 border-solid inline text-center py-1 px-6 rounded-full bg-zinc-900 text-2xl ${colorTitle}`}>{title}</h3>