---
// Componente de boton de ver mas proyectos
const { href } = Astro.props;
---
<div class="flex justify-center mt-4">
    <a href={href} class="mx-auto transition-colors duration-300 text-center bg-green-800 hover:bg-green-600 text-white rounded-full px-8 py-2 font-bold">View more</a>
</div>