@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
:root {
  font-family: "Libre Caslon Text", "EB Garamond", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
}
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  box-sizing: border-box;
}